.profile-user {
  margin: 110px 0;
  background-color: #424242;
  padding: 30px;
  min-width: 600px;
}

.profile-user h1 {
  margin-bottom: 30px;
}

.profile-data {
  display: flex;
  flex-direction: column;
}

.profile-data span {
  margin: 8px 0;
}
