.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sup-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 100vh;
  background-color: #eee;
  color: #000;
}

.sup-right h2 {
  margin-top: 10px;
}

.sup-right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sup-right input {
  min-width: 400px;
  max-width: 400px;
  height: 50px;
  margin-bottom: 16px;
  border-style: none;
  background-color: #fff;
  padding: 0 20px;
}

.sup-right .semester-stdid input {
  min-width: 190px;
  max-width: 200px;
  height: 50px;
  margin-bottom: 16px;
}

.sup-right span {
  font-size: 16px;
  color: #f9a826;

  margin-bottom: 10px;
  font-weight: bold;
}

.sup-right button {
  border-style: none;
  margin-top: 8px;
  width: 400px;
  height: 50px;
  background-color: #007acc;
  color: #fff;
}

.sup-right a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.sup-left {
  width: 50%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.sup-left img {
  width: 500px;
  max-width: 500px;
}
