.my-score {
  margin: 110px 0;
  background-color: #424242;
  padding: 30px;
  min-width: 600px;
}

.my-score-title {
  margin-bottom: 30px;
}

.answer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 400px;
  overflow: auto;
}
